<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lukasz.apptravel">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateTravelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.TravelMainMenuActivity" />
        <activity
            android:name=".activities.UpdateTravelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.NoExistingPacklistChioceActivity" />
        <activity android:name=".activities.ChoosePacklistActivity" />
        <activity
            android:name=".activities.PackListActivity"
            android:label="@string/title_activity_pack_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AddNewPackListItemActivity" />
        <activity android:name=".activities.EditPackListItemActivity" />
        <activity
            android:name=".activities.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" />
        <activity
            android:name=".activities.EditShoppingListItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewShopListItemActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.PrzejazdyActivity" />
        <activity
            android:name=".activities.AddNewPrzejazdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditPrzejazdItemActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.WydatkiActivity" />
        <activity
            android:name=".activities.AddWydatekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditWydatekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditNotatkiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ZoomImageActivity" />
        <activity
            android:name=".activities.NotatkiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNotatkaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ChooseTravelActivity" />
        <activity android:name=".activities.LocalStatsActivity" />
        <activity android:name=".activities.GlobalStatsActivity"></activity>
    </application>

</manifest>